#menu {
  flex-direction: column;
  background-color: #cbb8a9;
  position: absolute;
  top: 60px;
  right: 10px;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
}
/* dölja menyn */
.hidden {
  display: none;
}
/* meny länkarna */

#menu.open {
  display: flex;
}

#meny a {
  color: white;
  text-decoration: none;
  padding: 8px 0;
  display: block;
}

#humberger {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: #cbb8a9;
  margin-top: 10px;
}

@media (min-width: 768px) {
  #menu {
    display: flex;
    position: static;
    flex-direction: row;
    background: none;
    width: auto;
    padding: 0;
  }

  #meny {
    display: flex;
    gap: 15px;
  }

  #menu a {
    color: black;
  }
}

#humberger {
  display: none;
}
