/*Nollställning*/

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

/*Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #6F686D;
}

h1 {
    font-size: 1.2rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
    color: #f4f4f4;
}

/*Menyn*/

#menu {
    display: none; /*Gömmer menyn som default*/
    list-style: none;
    padding: 0;
    text-align: center;
}

#menu.open {
    display: flex; /*Visar menyn när klassen "open" är aktiv/*/
    flex-direction: column;
    background-color: white;
    /*Lägger menyn över allt annat och att den tar upp hela skärmen*/
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 53px; /*Visar fortfarande header*/
    left: 0; /*Så den börjar från vänster*/
}

#menu.open li {
    padding: 20px;
    border-bottom: 1px solid #6F686D;
}

#menu li:hover {
    text-decoration: underline #f4f4f4;
}

#menu a {
    text-decoration: none;
    color: #6F686D;
}

/*Responsivitet*/

@media (min-width: 768px) {
    h1 {
        font-size: 1.75rem;
    }

    header > * {
        margin: 0px 30px;
    }

    #hamburger {
        display: none; /*Döljer hamburgermenyn på större skärm*/
    }

    #menu {
        display: flex;
        gap: 20px;
    }

    #menu a {
        color: #f4f4f4;
    }
}

/* Hero */
.hero {
    height: 100vh;
    background: url("Coffeshop.avif") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.45);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 600px;
    padding: 20px;
}

.btn {
    background-color: #ad0d62;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
}

.btn:hover {
    background-color: #870a4e;
    color: white;
}

/* Gallery styling */
div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


div.gallery-item {
  margin: 5px;
  border: 1px solid #ccc;
  width: 250px;
}

div.gallery-item:hover {
  border: 1px solid #777;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}